<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/16cdc21e40.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="{% static 'login.css' %}" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,900;1,900&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Account</title>
  </head>
  <body>
     <div class="container shadow" id="container">
        <div class="form-container sign-up-container">
            <form method="post" name="signup" class="needs-validation">
                {% csrf_token %}
                <br><h2>Create Account</h2>
                <div class="social-container d-flex">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span><br><br>
                <div class="row">
                <div class="col">
                    {{ signup.first_name }}
                </div>
                <div class="col">
                    {{ signup.last_name }}
                </div>
                </div>
                <div class="col">{{ signup.email }}</div>
                <div class="col">{{ signup.username }}
                    {% if signup.username.errors %}
                        <div class="invalid-feedback" id="username">
                            {{ signup.username.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
                <div class="col">{{ signup.password1 }}</div>
                <div class="col">{{ signup.password2 }}
                    {% if signup.password2.errors %}
                        <div class="invalid-feedback" id="password">
                            {{ signup.password2.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" value="signup" name="signup" id="sign">Sign Up!</button><br>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form method="post">
                {% csrf_token %}
                <h1>Login</h1>
                <div class="social-container d-flex">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span><br>
                <input type="text" class="mb-2" placeholder="Username" name="username" required/>
                <input type="password" class="mb-2" placeholder="Password" name="password" required/>
                 <br>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'warning' %}
                            <div class="alert alert-danger" id="danger1"><b>{{ message }}</b></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <button type="submit" value="login" name="login" id="log">Login</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>Login by clicking below. Add ons waiting for you!..</p>
                    <button class="ghost" id="signIn">Login</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Oh! First time using our website. Don't worry, create your account by clicking below.</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <script src="{% static 'login.js' %}"></script>
  </body>
</html>
