{% extends 'mentor/stuProfile.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'forum.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ profile.dp.url }}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ profile.user.username }}</h4>
                      <p id="upload" class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Mumbai</p>
                        {% if request.user in profile.followers.all %}
                            <form action="{% url 'unfollow_request' request.user.pk %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit" name="unfollow" value={{ profile.user.id }}>Following</button>
                                <button class="btn btn-outline-primary">Message</button>
                            </form>
                        {% else %}
                            <form action="{% url 'follow_request' request.user.pk %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary" type="submit" name="follow" value={{ profile.user.id }}>Follow</button>
                                <button class="btn btn-outline-primary">Message</button>
                            </form>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Followers</h6>
                    <span class="text-secondary">{{ profile.followers.count }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Following</h6>
                    <span class="text-secondary">{{ profile.following.count }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Posts</h6>
                    <span class="text-secondary">-</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Notifications</h6>
                    <span class="text-secondary">-</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">-</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ profile.user.first_name }} {{ profile.user.last_name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Bio</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      -
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Institute</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ profile.institute }}
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
                <div class="row gutters-sm">
                    {% for i in posts %}
                                <div class="timeline-body bg-white ">
                                    <div class="timeline-header p-30"style="border-bottom: 1px solid #e2e7eb;
                 "><br>
                                        <span class="userimage"><img src="{{ i.creator.dp.url }}" height="34px" width="34px" alt=""></span>
                                        <span class="username"><a href="javascript:;"class="text-decoration-none">{{ i.creator.user.username }}</a> </span>
                                    </div>
                                    {% if i.post_image.url or i.post_video.url %}
                                        <div class="timeline-content">
                                            <div id="myCarousel{{ i.pk }}" class="carousel slide" data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                    {% if i.post_image %}
                                                        <div class="carousel-item active">
                                                            <div id="hello" style="display: flex; align-items: center; justify-content: center;">
                                                                <img src="{{ i.post_image.url }}" class="bd-placeholder-img" style="width: auto; height: auto; max-width: 918px; max-height: 400px;">
                                                                <div class="carousel-caption d-none d-md-block">
                                                                    <h5>{{ i.post_caption }}</h5>
                                                                    <p>{{ i.post_text }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if i.post_video %}
                                                        <div class="carousel-item carousel-item-active">
                                                        <div id="h1" style="display: flex; align-items: center; justify-content: center;">
                                                            <video
                                                                    style="width: 918px; height: 400px"
                                                                    controls
                                                                    playsinline
                                                                    autoplay
                                                                    muted
                                                                    loop
                                                            >
                                                                <source
                                                                        class="h-100"
                                                                        src="{{ i.post_video.url }}"
                                                                        type="video/mp4"
                                                                />
                                                            </video>
                                                        </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel{{ i.pk }}" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel{{ i.pk }}" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="timeline-content">
                                            <p>
                                                <strong>{{ i.post_text }}</strong>
                                            </p>
                                        </div>
                                    {% endif %}
                                    {#                      timeline end#}
                                    <div class="timeline-likes">
                                        <div class="stats-right">
                                            <a href="" class="stats-text text-decoration-none text-dark">259 Shares</a>
                                            <a href="#comment" class="stats-text text-decoration-none text-dark">21 Comments</a>
                                        </div>
                                        <div class="stats">

                       <span class="fa-stack fa-fw stats-icon">
                       <i class="fa fa-circle fa-stack-2x text-primary"></i>
                       <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                       </span>
                                            <a href="" class="stats-total text-decoration-none text-dark"data-bs-toggle="modal" data-bs-target="#exampleModal">{{ i.likes.count }}</a>
                                        </div>
                                    </div>
                                    <div class="timeline-footer d-flex  " style="justify-content: space-between;padding:15px;">
                                        {% if active not in i.likes.all %}
                                            <form action="{% url 'like' %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" style="background-color: white; border: 0px;" name="like" value={{ i.pk }}><i class="far fa-thumbs-up"> Like</i></button>
                                            </form>
                                        {% else %}
                                            <form action="{% url 'unlike' %}" method="post">
                                            {% csrf_token %}
                                                <button type="submit" style="background-color: white; border: 0px;" name="unlike" value={{ i.pk }}><i class="fas fa-thumbs-up"> Liked</i></button>
                                            </form>
                                        {% endif %}
{#                                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-1x fa-lg m-r-3"> like</i></a>#}
                                        <a href="javascript:;" onclick="showcomments('comment' + {{ i.pk }})"
                                           class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-1x fa-lg m-r-4"> comment</i></a>
                                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-1x fa-lg m-r-3"> share</i></a>
                                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-send fa-1x fa-lg m-r-3"> send</i></a>
                                    </div>
                                    <div class="timeline-comment-box">
                                        <div class="user"><img src="{{ active.dp.url }}" height="34px" width="34px"></div>
                                        <div class="input ">
                                            <form action="{% url 'comment' active.pk %}" method="post">
                                                {% csrf_token %}
                                                <div class="input-group ">
                                                    <input required type="text" class = "form-control rounded-corner" name="body" placeholder="Write a comment.....">
                                                    <span class="input-group-btn p-l-10 ">
                                                    <button class="btn btn-primary f-s-12 rounded-corner" name="post_id" value={{ i.id }}  type="submit">Comment</button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="comscroll bg-light mt-2 overflow-scroll">
                                            <div class="row" id="comment{{ i.pk }}" style="display: none;">
                                                {% for com in comment %}
                                                    {% if com.post == i %}
                                                    <div class="col-md-12 shadow ">
                                                        <div class="media media-comment">

                                                            <div class="media-body ">
                                                                <div class="mt-2">
                                                                    <img class=" d-flex rounded-circle " src="{{ com.commentor.dp.url }}" alt="Image Description" height="36px" weight="36px">
                                                                    <h5 class="d-flex h5 g-color-gray-dark-v1 mb-0">{{ com.commentor.user.username }}</h5>
                                                                    <span class="text-muted"><small>{{ com.date_added }}</small></span>
                                                                </div>

                                                                <h6 class="text-small">{{ com.body }}</h6>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                </div>
            </div>
          </div>

        </div>
    </div>

<style type="text/css">
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

</style>

<script type="text/javascript">

</script>
{% endblock %}